@import "../../styles/settings.scss";

.header {
  text-align: center;
  margin: 50px 0 20px 0;
}

.gallerySection {
  margin: 40px 0;
  font-size: 15px;
}

.techSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0;

  ul {
    margin-top: 20px;
    list-style-type: circle;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    color: $color-light;
  }

  li {
    height: 24px;
    width: 85px;
    margin: 0 13px;
  }
}

.films {
  div {
    max-width: 300px;
    :hover {
      ul {
        color: $color-red;
      }
    }
  }
  h2 {
    margin-bottom: 10px;
  }
}
