@import "../../styles/settings.scss";

.component {
  padding: $base-size;
  // max-width: 1000px;
  margin: 0 auto;
}

.splash {
  height: 60vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 20px;
  border-radius: 5px;
}
.splash_inner {
  position: absolute;
  width: 90%;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
}

.title {
  padding: ($base-size * 3) 0;
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
  margin: auto;
  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: 0.2em solid $color-red;
    border-bottom: 0.2em solid $color-red;
    transform: scale3d(0, 1, 1);
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 900ms;
  }
}

.subtitle {
  padding: ($base-size * 2) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-weight: 600;
}

.title + .subtitle {
  margin-top: (-$base-size * 3);
}

.lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}