@import "../../styles/settings.scss";

.component {
  padding: $base-size;
  max-width: 1000px;
  margin: 0 auto;
}

.splash {
  height: 60vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 20px;
  border-radius: 5px;
}
.splash_inner {
  position: absolute;
  width: 90%;
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
}

.title {
  padding: ($base-size * 3) 0;
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
}

.subtitle {
  padding: ($base-size * 2) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;
}

.title + .subtitle {
  margin-top: (-$base-size * 3);
}
